extends layout

block content
  h1= title
  p Welcome to #{ title }
  a(href="/sign-up") Sign-Up 
  a(href="/login") Login
  each message in messages
    li #{ message }
  else
    p There are no messages for you to read.
