doctype html
html(lang="en")
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/stylesheets/style_output.css")
  body
    nav
      ul.flex.justify-end.gap-12.my-4(class="*:text-xl")
        li.transition.linear.delay-50
          a(href="/") Home
        if currentUser
          li.transition.linear.delay-50
            a(href="/profile") Profile
          li.transition.linear.delay-50
            a(href="/logout") Logout
        else
          li.transition.linear.delay-50
            a(href="/login") Login
          li.transition.linear.delay-50
            a(href="/sign-up") Sign-Up
    block content
