extends layout

block content
  h1= title
  p.text-xl.my-4 Hi, #[strong #{ currentUser.first_name }]! Change your profile settings below.
  p.my-2 #[strong Membership Status]:&nbsp;
    if currentUser.membership
      span.text-slate-50.bg-emerald-500.px-2 You're an official member.
    else
      span.text-slate-50.bg-red-500.px-2 You're not an official member.
  p #[strong Admin Status]:&nbsp;
    if currentUser.admin
      span.text-slate-50.bg-emerald-500.px-2 You're an admin.
    else
      span.text-slate-50.bg-red-500.px-2 You're not an admin.

  if !currentUser.membership && !currentUser.admin
    form.mt-12(method="POST")
      if !currentUser.membership
        .form-group
          label(for="membershipPassword") If you know the #[strong membership] password, enter it here:
          input#membershipPassword(type="password", name="membershipPassword")
      if !currentUser.admin
        .form-group
          label(for="adminPassword") For those with the #[strong admin] password, enter it here:
          input#adminPassword(type="password", name="adminPassword")
      button(type="submit") Submit

  if errors
    ul
      each error in errors
        li!= error.msg
