extends layout

block content
  h1= title
  h2 Hi #{ currentUser.first_name }! Change your profile settings below.
  p Membership Status:&nbsp;
    if currentUser.membership
      span.success You're an official member.
    else
      span.danger You're not an official member.
  p Admin Status:&nbsp;
    if currentUser.admin
      span.success You're an admin.
    else
      span.danger You're not an admin.

  if !currentUser.membership && !currentUser.admin
    form(method="POST")
      if !currentUser.membership
        .form-group
          label(for="membershipPassword") Membership Password:
          input#membershipPassword(type="password", name="membershipPassword")
      if !currentUser.admin
        .form-group
          label(for="adminPassword") Admin Password:
          input#adminPassword(type="password", name="adminPassword")
      button(type="submit") Submit

  if errors
    ul
      each error in errors
        li!= error.msg
